/*
!wp-content/
!.gitignore
wp-content/uploads
wp-content/updraft
wp-content/upgrade
wp-content/webtoffee_export
wp-content/webtoffee_iew_log
wp-content/webtoffee_import
wp-content/wflogs
wp-content/*.log
wp-content/cache
wp-content/plugins/woocommerce-il-reporting/public/download
wp-content/plugins/woocommerce-il-reporting/*.txt
wp-content/plugins/woocommerce-il-reporting/log.txt
wp-content/themes/twentytwentytwo
wp-content/themes/twentytwentythree
*.log
*.zip 
